<!DOCTYPE HTML>
<!--
	Overflow 1.1 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Product Hunt, Yo!</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="Yo! Api App"/>
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic" rel="stylesheet" type="text/css" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.poptrox.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header>
					<h1>Product Hunt, Yo!</h1>
					<p>Matt McNaughton and Andrew Udell</p>
				</header>
				<footer>
					<a href="#banner" class="button style2 scrolly scrolly-centered">Yo?</a>
				</footer>
			</section>

		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>This is "PRODUCTHUNTED"</h2>
				</header>
				<p>PRODUCTHUNTED uses the Yo! API to send users a Yo!<br>push notification whenever a product on <a href="http://www.producthunt.com">Product Hunt</a><br> reaches over 100 upvotes.</p>
				<footer>
					<a href="#first" class="button style2 scrolly">Sign Up!</a>
				</footer>
			</section>

		<!-- Feature 1 -->
			<article id="first" class="container box style1 right">
				<img class="image full" src="images/Yo-image.png" alt="" /></a>
				<div class="inner">
					<header>
						<h2>How to Sign Up</h2>
					</header>
					<p>To sign up, all you have to do is <b>yo the username PRODUCTHUNTED</b> and you will start receiving alerts the next time a product on <a href="http://www.producthunt.com">Product Hunt</a> reaches over 100 upvotes.</p>
				</div>
			</article>

		<section id="footer">
			<div class="copyright">
				<ul class="menu">
					<li>&copy; Matt McNaughton and Andrew Udell. All rights reserved.</li>
					<li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
				</ul>
			</div>
		</section>

	</body>
</html>
